<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hibernate-hello-world</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">Amir12345</property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1000</property>
        <!-- Select our SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create-drop</property>
        <!-- dbcp connection pool configuration -->

        <mapping class="org.fathi.entities.Student"/>
        <mapping class="org.fathi.entities.Course"/>
        <mapping class="org.fathi.entities.Identity"/>
        <mapping class="org.fathi.entities.Department"/>
        <mapping class="org.fathi.entities.Degree"/>
        <mapping class="org.fathi.entities.Phone"/>
        <mapping class="org.fathi.entities.Item"/>
        <mapping class="org.fathi.entities.ColoredItem"/>
    </session-factory>
</hibernate-configuration>